.footer {
  background-color: #111112;
  color: white;
  padding: 22px;
  bottom: 0;
  position: static;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeInRight 1s ease-in-out;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.footer-list p {
  margin-bottom: 10px;
}

.footer-list li {
  margin: 5px 0;
}

.footer-list a {
  color: white;
  text-decoration: none;
}

.footer-list a:hover {
  text-decoration: underline;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer{
    width: 100%;
  }
  .footer-list {
    flex-direction: column;
    gap: 10px;
  }
}
