.hero {
  background-color: #f5f5f5;
  /* padding: 80px 22px; */
  text-align: center;
}

.hero-content {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #666;
}

.hero button {
  padding: 12px 24px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.hero button:hover {
  background-color: #2980b9;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero button:focus {
  outline: none;
}

.successMessage {
  margin-top: 20px;
  font-size: 1rem;
  color: #28a745;
}

@media (max-width: 768px) {
  .hero{
    width: 100%;
    padding: 22px;
  }
}
@media (max-width: 320px) {
  .hero{
    width: 100%;
    padding: 21.8px;
  }
}