.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 63px;
  padding: 50px 160px;
  background-color: #f1f1f1;
  animation: fadeInLeft 1s ease-in-out;
  align-items: center;
  justify-items: center;
  z-index: -1;
  
}

.features > div {
  text-align: center;
  width: 95%;
  height: 100%;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.features .components{
  height: 95%;
}
.features > div:hover {
  transform: scale(1.0);
}

.features img {
  margin-top: 10px;
  width: 100px;
  cursor: pointer;
}

.feature h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.feature p {
  font-size: 1rem;
  color: #666;
}

.img1:hover,
.img9:hover {
  animation: rotate 1s ease;
}

.img3:hover,
.img6:hover,
.img7:hover,
.img8:hover {
  transform: scale(1.1);
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Responsive Design */
@media (max-width: 1200px) {
  .features {
    padding: 40px 80px;
    gap: 65px;
  }
}

@media (max-width: 992px) {
  .features {
    padding: 30px 60px;
  }
  .features > div{
    width: 100%;
    padding: 12px 6px;
    overflow: hidden;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .features {
    padding: 22px 22px;
    width: 100%;
  }
  
  .feature h2 {
    font-size: 1.3rem;
  }

  .feature p {
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  .features {
    grid-template-columns: 1fr;
    padding: 30px 20px;
    width: 100%;
  }

  .features > div {
    padding: 9px;
    z-index: 0;
  }
  
  .feature h2 {
    font-size: 1.1rem;
  }

  .feature p {
    font-size: 0.8rem;
  }

  .features img {
    width: 80px;
  }
}

@media (max-width: 320px) {
  .features {
    padding: 29px;
    width: 100%;
    margin-left: -14px;
  }
}